@model star_wars.Application.Common.Models.ViewModels.Character.InfoCharacterViewModel

@{
    ViewBag.Title = $"Информация о персонаже - {@Model.Name}";
    Layout = "_Layout";
}

<div class="container p-4">
    <h1 class="text-center mb-4">
        <a asp-action="Index" class="text-center mb-4 h1"><i class="bi bi-arrow-left text-white me-4"></i></a> Информация о персонаже
    </h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark text-white border-white p-2">
                <div class="row card-body bg-dark">

                    <div class="col-12 col-lg-6 mb-4">
                        <h5 class="card-title">
                            <h1>@Model.Name (@Model.OriginName)</h1>
                        </h5>
                        <div class="mt-4">
                            <p class="card-text text-white">
                                <strong>Дата рождения:</strong> @Math.Abs(Model.Birthdate) @(Model.Birthdate > 0 ? "ПБЯ" : "ДБЯ")
                            </p>
                            <p class="card-text text-white">
                                <strong>Планета:</strong> @Model.Planet
                            </p>
                            <p class="card-text text-white">
                                <strong>Пол:</strong> @Model.Gender
                            </p>
                            <p class="card-text text-white">
                                <strong>Раса:</strong> @Model.Species
                            </p>
                            <p class="card-text text-white"><strong>Рост:</strong> @Model.Height м</p>
                            <p class="card-text text-white">
                                <strong>Цвет волос:</strong> @Model.HairColor
                            </p>
                            <p class="card-text text-white">
                                <strong>Цвет глаз:</strong> @Model.EyeColor
                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 d-flex flex-column align-items-center">
                        <span class="card-subtitle mb-2 text-center text-muted">Фильмы</span>
                        <ul>
                            @if (Model.Movies.Any())
                            {
                                @foreach (var movie in Model.Movies)
                                {
                                    <li class="text-white mb-2 w-100 text-center" style="list-style: none">@movie.Title</li>
                                }
                            }
                            else
                            {
                                <li class="text-white mb-2 w-100 text-center" style="list-style: none">Отсутствуют</li>
                            }
                        </ul>
                    </div>

                    <div class="col-12 mt-4">
                        <p class="card-text text-white"> @Model.Description</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>